@model SERVERAPI.ViewModels.CalculateViewModel

@{
    ViewBag.Title = "Calculate Nutrients";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<div class="step-header">
    <div class="container">
        <div class="col-sm-6">
            <span class="step-header-circle">4</span>
            <span class="step-header-name">Calculate Nutrients</span>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-right">
                <span class="step-header-steps">Step 4 of 5</span>
            </div>
            <div class="col-sm-4 step-header-form">
                <span>Units</span>
                <select class="form-control" id="select">
                    <option>Not implemented</option>
                    <option>lb/ac</option>
                    <option>kg</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Nutrients" asp-action="Calculate" method="post">
            <div class="step-forms col-sm-2">
                @if (Model.fldsFnd)
                {
                    <ul style="list-style-type: none; padding-left: 0; overflow: hidden; -ms-text-overflow: ellipses; -o-text-overflow: ellipses; text-overflow: ellipsis; ">
                        @foreach (var f in Model.fields)
                        {
                            <li style="display:block; float:left;"><a href="#" class="btn btn-default" >@f.fieldName</a></li>
                        }
                    </ul>
                }
                <br />
                <button class="btn btn-default" type="button" data_modal2="" data-type="@Url.Action("FieldDetail", "Farm")">Add field</button>
            </div>
            <div class="step-forms col-sm-9">
                @if (Model.fldsFnd)
                {
                    <div class="form-box">
                        <div class="form-box-header clearfix">
                            <button class="btn btn-success" type="button" data_modal="" data-type="@Url.Action("ManureDetails", "Nutrients", new { fldName = Model.currFld })">Add Manure</button>
                            <button class="btn btn-success" disabled="disabled">Add Fertilzer</button>
                            <button class="btn btn-success" disabled="disabled">Add Other</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-box">
                        <div class="form-box-header clearfix">
                            <h3>To add nutrients please add a field first</h3>
                        </div>
                    </div>
                }
                <div id="replacetarget">
                    @await Component.InvokeAsync("CalcManure", new { fldName = Model.currFld })
                </div>

                @*<div class="form-box">
                    <div class="form-box-header clearfix">
                        <div>
                            <legend class="form-box-heading">Manure</legend>
                        </div>
                    </div>
                    <div class="form-box-body">
                        <div class="form-box-table">
                            <table class="form-box-table">
                                <thead>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th colspan="3">First year (lbs/ac)</th>
                                        <th colspan="3">Long term (lbs/ac)</th>
                                    </tr>
                                    <tr>
                                        <th>Application season and method</th>
                                        <th>Manure type</th>
                                        <th>Application rate</th>
                                        <th>N</th>
                                        <th>P205</th>
                                        <th>K20</th>
                                        <th>N</th>
                                        <th>P205</th>
                                        <th>K20</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Spring -not incorporated</td>
                                        <td>Solid -heavy</td>
                                        <td>35</td>
                                        <td>50</td>
                                        <td>48</td>
                                        <td>72</td>
                                        <td>70</td>
                                        <td>65</td>
                                        <td>72</td>
                                        <td>
                                            <button aria-label="edit" class="form-box-table-button" type="button">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="14.5" y1="4.5" x2="19.5" y2="9.5" stroke-linejoin="miter" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="3" y1="16" x2="8" y2="21" stroke-linejoin="miter" stroke-linecap="butt"></line> <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M8,21l-6,1l1-6 L16.586,2.414c0.781-0.781,2.047-0.781,2.828,0l2.172,2.172c0.781,0.781,0.781,2.047,0,2.828L8,21z" stroke-linejoin="miter"></path></g></svg>
                                            </button>
                                            <button aria-label="delete" class="form-box-table-button" type="button">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="20,9 20,23 4,23 4,9 " stroke-linejoin="miter"></polyline> <line fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="5" x2="23" y2="5" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="12" x2="12" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="8" y1="12" x2="8" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="16" y1="12" x2="16" y2="18" stroke-linejoin="miter"></line> <polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="8,5 8,1 16,1 16,5 " stroke-linejoin="miter"></polyline></g></svg>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Yearly Total</td>
                                        <td></td>
                                        <td>35</td>
                                        <td>50</td>
                                        <td>48</td>
                                        <td>72</td>
                                        <td>70</td>
                                        <td>65</td>
                                        <td>72</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="form-box-table-add text-right form-box-table-row row">
                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal" role="alertdialog">Add another manure</button>
                        </div>
                    </div>
                </div>*@
            
                </div>

                <br />
                <br />
                <br />
                <br />
                <div class="form-box-submit">
                    <input class="form-box-submit-button btn btn-primary btn-lg" type="button" value="Next" onclick="window.location.href='@Url.Action("Report", "Report" )';" />
                </div>
</form>
    </div>
</div>
@section Scripts {
<script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
    $(document).on("click", '[data_modal]', function (e) {
        $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
        $("#divSize").addClass("modal-lg");
        $('#myModalContent').load($type, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                //keyboard: true
            }, 'show');
            bindForm(this);
        });
        return false;
    });

    $(document).on("click", '[data_modal2]', function (e) {
        $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
        $("#divSize").removeClass("modal-lg");
        $('#myModalContent').load($type, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                //keyboard: true
            }, 'show');
            bindForm2(this);
        });
        return false;
    });

    $(document).ready(function () {
        $("body").on("change", "#ddlMan", function () {
            $('#buttonPressed').val("TypeChange");
            $("#modForm").submit();
        })
    });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            var ls;
                            ls = localStorage;
                            ls.setItem("nmp", result.farmdata);
                            $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }
        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            var ls;
                            ls = localStorage;
                            ls.setItem("nmp", result.farmdata);
                            location.reload(); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                            $('#myModalContent').html(result);
                            bindForm2(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).on('propertychange input paste', '#rate', function () {
            NeedRefresh();
        });

        $(document).on('change', '#ddlAppl', function () {
            NeedRefresh();
        });

        $(document).on('change', '#ddlRate', function () {
            NeedRefresh();
        });

        $(document).on('propertychange input paste', '#avail', function () {
            NeedRefresh();
        });

        $(document).on('propertychange input paste', '#nh4', function () {
            NeedRefresh();
        });


        function NeedRefresh() {
            $("#ok_button").html('Calculate');
            $("#ok_button").css('background-color', '#1abbed');
            $("#btnText").val("Calculate");
        }

</script>

}
