@using Microsoft.AspNetCore.Http;
@model SERVERAPI.ViewModels.FarmViewModel

@{
    ViewBag.Title = "Farm";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<div class="step-header">
    <div class="container">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3" style="text-align:right">
            <p style="margin:0px">Need to continue later?</p>
            <input class="btn btn-primary" type="button" value="Download file" title="Download data to your local drive" onclick="location.href='@Url.Action("Download", "Home")'" />
            &nbsp;
            <div style="display:inline;margin-top:7px">
                <a href="#" data_modalI="" data-type="@Url.Action("InfoMessage", "Report", new { type = "download" })"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of downloading" style="font-size:20px"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Farm" asp-action="Farm" method="post">
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <legend class="form-box-heading">Farm Information</legend>
                </div>
                <div class="form-box-body">
                    <div class="form-box-fields">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="year">Year for analysis</label>
                                <input class="form-control" asp-for="year" id="year" type="text" />
                                <span asp-validation-for="year"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="farmName">Farm name</label>
                                <input class="form-control" asp-for="farmName" id="farmName" name="farmName" type="text">
                                <span asp-validation-for="farmName"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="selRegOption">Region</label>
                                <p class="form-box-subtext">Region selection will customize recommendations to your local climate.</p>
                                <select class="form-control" asp-for="selRegOption" asp-items="@(new SelectList(Model.regOptions,"Id","Value"))">
                                    <option>select region</option>
                                </select>
                                <span asp-validation-for="selRegOption"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box-submit">
                <div class="form-box-fields text-right">
                    <button class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.currYear)
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#wizard-farm").addClass('wizard-item-done');
        });

        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-large");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }
    </script>
}