<!DOCTYPE html>

<html>
<head>
    <!-- SITE CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7PZZ2ZQWCL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7PZZ2ZQWCL');
    </script>

</head>
<body>

</body>
</html>
