@model CalcMessagesViewModel
@if (Model.displayMsgs)
{
    @if (Model.messages.Count() > 0)
    {
        foreach (var msg in Model.messages)
        {
          <div class="gov-slim-alert gov-slim-alert-danger" role="alert" aria-live="assertive">
              @msg.Message
          </div>
        }
    }
}
