@model CalcMessagesViewModel
@if (Model.displayMsgs)
{
    @if (Model.messages.Count() > 0)
    {
        foreach (var msg in Model.messages)
        {
            <div>
                @msg
            </div>
        }
    }
}
