@model CalcMessagesViewModel
@if (Model.messages.Count() > 0)
{
    foreach (var msg in Model.messages)
    {
        <div class="gov-alert gov-alert-danger" role="alert" aria-live="assertive">
            @msg.Message
        </div>
    }
}
