@model CalcMessagesViewModel
@if (Model.displayMsgs)
{
    @if (Model.messages.Count() > 0)
    {
        foreach (var msg in Model.messages)
        {
            if (!string.IsNullOrEmpty(msg.Message))
            {
                <div class="gov-slim-alert gov-slim-alert-danger" role="alert" aria-live="assertive">
                        <img src="~/images/@(msg.Icon).svg" />
                    &nbsp; @msg.Message
                </div>
             }
        }
    }
}
