@model SERVERAPI.Pages.Ranch.RanchFeeding.CreateEdit.Command.FeedingArea
<div class="row">
    <div class="col-sm-12">
        <div class="form-box-heading">Feed 1</div>
    </div>
</div>
@*<div class="col-sm-8">
        <div class="form-box-heading">Feed 1</div>
    </div>*@
<div class="row">
    <div class="form-group col-sm-4">
        <label>Feed/forage Type</label>
        <div>
            <select class="form-control">
                @* asp-for="@Model.Data.FeedType" *@
                <option>select</option>
                <option>Test1</option>
                <option>SATest12</option>
                <option>Test123</option>
                <option>Test1234</option>
            </select>
            @*<span asp-validation-for="@Model.Data.FeedType1"></span>*@
        </div>
    </div>
    <div class="form-group col-sm-4">
        <label>Feed/forage</label>
        <div>
            <select class="form-control">
                <option>select</option>
                <option>Test1</option>
                <option>Test12</option>
                <option>Test123</option>
                <option>Test1234</option>
            </select>
            @*<span asp-validation-for="@Model.Data.ForageName1"></span>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="form-box-heading mb-3">Feed/forage Analysis</label>
    </div>
    <div class="form-group col-sm-5">
        <label style="padding-right: 20px">
            Use Book Analysis
            <input type="radio" value="true" />
        </label>
    </div>
    <div class="form-group col-sm-5">
        <label style="padding-right: 20px">
            Use Custom Values
            <input type="radio" value="true" />
        </label>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4 row">
        @*<div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">*@
        <div class="col-sm-3" style="padding:0px !important">
            <input type="text" class="form-control" />
        </div>
        <span class="col-sm-9">% Crude protein (CP)</span>
        @*</div>
            </div>*@
    </div>
    <div class="form-group col-sm-2 row">
        @*<div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">*@
        <div class="col-sm-7" style="padding:0px !important">
            <input type="text" class="form-control" />
        </div>
        <span class="col-sm-5">%&nbsp;P</span>
        @*</div>
            </div>*@
    </div>
    @*<div class="form-group col-sm-2">
            <div class="col-sm-12" style="padding-left:0px !important;">
                <div class="form-group-right-side-label">
                    <input type="text" class="form-control" />
                    <span class="right-side-label-span" style="padding:5px;width:10px">%&nbsp;P</span>
                </div>
            </div>
        </div>*@
    <div class="form-group col-sm-2 row">
        @*<div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">*@
        <div class="col-sm-7" style="padding:0px !important">
            <input type="text" class="form-control" />
        </div>
        <span class="col-sm-5">%&nbsp;K</span>
        @*</div>
            </div>*@
    </div>
</div>
@*<div class="form-group col-sm-2">
            <div class="col-sm-12" style="padding-left:0px !important;">
                <div class="form-group-right-side-label">
                    <input type="text" class="form-control" />
                    <span class="right-side-label-span" style="padding:5px;width:10px">%&nbsp;K</span>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="col-sm-4">
        &nbsp;&nbsp;
    </div>*@
<div class="row" style="padding-top:10px;">
    <div class="form-group col-sm-6 row">
        @*<div class="col-sm-12 row" style="padding-left:0px !important;">*@
        @*<div class="form-group-right-side-label">*@
        <div class="col-sm-2" style="padding:0px !important;">
            <input type="text" class="form-control" />
        </div>
        <span class="col-sm-10">
            &nbsp;%&nbsp;of total feed/forage provided to animals
            <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
            </a>
        </span>
        @*</div>*@
        @*</div>*@
    </div>
    <div class="form-group col-sm-6 row">
        @*<div class="col-sm-12 row" style="padding-left:0px !important;">*@
        @*<div class="form-group-right-side-label">*@
        <div class="col-sm-2" style="padding:0px !important;">
            <input type="text" class="form-control" />
        </div>
        <span class="col-sm-10">
            &nbsp;%&nbsp;feed/forage wastage
            <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
            </a>
        </span>
        @*</div>*@
        @*</div>*@
    </div>
    @*<div class="form-group col-sm-4">
            <div class="col-sm-12" style="padding-left:0px !important;">
                <div class="form-group-right-side-label">
                    <input type="text" class="form-control" />
                    <span class="right-side-label-span" style="width:496px;padding:0px;">
                        &nbsp;%&nbsp;feed/forage wastage
                        <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>*@