@page "{handler?}/{fieldName}"
@model SERVERAPI.Pages.Ranch.RanchFeeding.CreateEdit

@{
    Layout = "_ModalLayout";
    ViewData["HeaderTitle"] = Model.Title;
}

@*var handler = Model.Data.Id.HasValue ? "Edit" : "Create";
    var action = Url.Page("CreateEdit", "Create",new {fieldName=Model.FieldName});*@
<form asp-antiforgery="true" action="@ViewBag.FormAction" method="post" class="form-box-body" style="padding:0px">
    @foreach (var item in Model?.Data?.feedingArea)
    {
        @await Html.PartialAsync("_createEditFormPartial", item, new ViewDataDictionary(ViewData))

    }
    <div class="row" style="padding-top:25px;">
        <div class="form-group col-sm-12">
            <div class="col-sm-4">&nbsp;&nbsp;</div>
            <button class="btn btn-default col-sm-4" id="btnFeedForage1" type="button" data-toggle="razor-page-modal" onclick="AddNewFeedForage(@Model.Data.feedingArea.Count)">Add Another Feed/Forage</button>
            <div class="col-sm-4">&nbsp;&nbsp;</div>
        </div>
    </div>
    </div>
    <div class="col-sm-12">
        <hr style="border:0.2px solid lightgray" />
    </div>
    <div class="modal-footer" style="border:0px;">
        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Save" data-save="razor-page-modal" />
    </div>
</form>

@section Scripts {
    <script type="text/javascript">

        function AddNewFeedForage3() {
            $('#btnFeedForage2').hide();
            $('#feedForage3').show();
        }
        function AddNewFeedForage(count) {
            $('#btnFeedForage1').hide();
            $('#feedForage2').show();
        }
        $(document).ready(function () {
            $('#toolTipDailyFeedWarning').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipDailyFeedWarning').click(function () {
                triggerToolTip($('#toolTipDailyFeedWarning'));
            });
        })
    </script>
}