@page "{handler?}"
@model SERVERAPI.Pages.Ranch.RanchFeeding.CreateEdit

@{
    Layout = "_ModalLayout";
    ViewData["HeaderTitle"] = Model.Title;
}

<form asp-page="CreateEdit" method="post" class="form-box-body" style="padding:0px">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>

        @foreach (var item in Model?.Data?.feedingAreas)
        {
            @await Html.PartialAsync("_createEditFormPartial", item, new ViewDataDictionary(ViewData))

        }
        <div class="row" style="margin-top:50px;">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">&nbsp;&nbsp;</div>
                <button class="btn btn-default col-sm-4" id="btnFeedForage1" type="button">Add Another Feed/Forage</button>
                <div class="col-sm-4">&nbsp;&nbsp;</div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr style="border:0.2px solid lightgray" />
        </div>
    </div>
    <div class="modal-footer" style="border:0px;">
        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="saveButton" data-save="razor-page-modal">Save</button>
    </div>
    @Html.HiddenFor(x => x.Data.PostedElementEvent, new { id = "PostedElementEvent" })
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "#btnFeedForage1", function () {
                $('#PostedElementEvent').val("AddFeedForageAnalysis");
                $("#saveButton").click();
            })
        });

        $(document).ready(function () {
            $('#toolTipDailyFeedWarning').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipDailyFeedWarning').click(function () {
                triggerToolTip($('#toolTipDailyFeedWarning'));
            });
        })
    </script>
}