@model SERVERAPI.ViewModels.ReportFontsViewModel

<div style="display: table-row;">
    <div style="display: table-cell;">
        Font Testing
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:xx-small">font-family:DejaVu Sans; font-size:xx-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:x-small">font-family:DejaVu Sans; font-size:x-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:small">font-family:DejaVu Sans; font-size:small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:smaller">font-family:DejaVu Sans; font-size:smaller</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:medium">font-family:DejaVu Sans; font-size:medium</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:large">font-family:DejaVu Sans; font-size:large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:larger">font-family:DejaVu Sans; font-size:larger</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:x-large">font-family:DejaVu Sans; font-size:x-large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:xx-large">font-family:DejaVu Sans; font-size:xx-large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:4px">font-family:DejaVu Sans; font-size:4px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:5px">font-family:DejaVu Sans; font-size:5px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:6px">font-family:DejaVu Sans; font-size:6px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:7px">font-family:DejaVu Sans; font-size:7px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:8px">font-family:DejaVu Sans; font-size:8px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:9px">font-family:DejaVu Sans; font-size:9px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:10px">font-family:DejaVu Sans; font-size:10px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:11px">font-family:DejaVu Sans; font-size:11px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:12px">font-family:DejaVu Sans; font-size:12px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:13px">font-family:DejaVu Sans; font-size:13px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:14px">font-family:DejaVu Sans; font-size:14px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:15px">font-family:DejaVu Sans; font-size:15px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:16px">font-family:DejaVu Sans; font-size:16px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:17px">font-family:DejaVu Sans; font-size:17px</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:DejaVu Sans; font-size:18px">font-family:DejaVu Sans; font-size:18px</span>
    </div>
</div>
