@model SERVERAPI.ViewModels.ReportSourcesViewModel

<div class="Row">
    <div class="Cell">
        <h2>Your Nutrient Sources</h2>
    </div>
</div>
<div class="Row">
    <div class="Cell">
        <table style="border-collapse: collapse;">
                <tr style="padding-top:20px; padding-bottom:20px">
                    <td style="padding-top:10px; padding-bottom:10px; background-color:skyblue; border: 1px solid black;">
                        Material Type
                    </td>
                    <td colspan="2" style="padding-top:10px; padding-bottom:10px; background-color:skyblue; text-align:center; border: 1px solid black">
                        Total Ammount Required
                    </td>
                </tr>
                @foreach (var n in Model.details)
                {
                    <tr>
                        <td style="width:300px; border: 1px solid black; padding:5px">@n.nutrientName</td>
                        <td style="text-align:right; width:80px; border: 1px solid black; padding:5px">@n.nutrientAmount</td>
                        <td style="text-align:left; width:80px; border: 1px solid black; padding:5px">@n.nutrientUnit</td>
                    </tr>
                }
        </table>
    </div>
</div>
