@model SERVERAPI.ViewModels.ReportFontsViewModel

<div style="display: table-row;">
    <div style="display: table-cell;">
        Font Testing
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:xx-small">font-family:Arial; font-size:xx-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:x-small">font-family:Arial; font-size:x-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:small">font-family:Arial; font-size:small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:smaller">font-family:Arial; font-size:smaller</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:medium">font-family:Arial; font-size:medium</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:large">font-family:Arial; font-size:large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:larger">font-family:Arial; font-size:larger</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:x-large">font-family:Arial; font-size:x-large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:Arial; font-size:xx-large">font-family:Arial; font-size:xx-large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:xx-small">font-family:FreeSans; font-size:xx-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:x-small">font-family:FreeSans; font-size:x-small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:small">font-family:FreeSans; font-size:small</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:smaller">font-family:FreeSans; font-size:smaller</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:medium">font-family:FreeSans; font-size:medium</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:large">font-family:FreeSans; font-size:large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:larger">font-family:FreeSans; font-size:larger</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:x-large">font-family:FreeSans; font-size:x-large</span>
    </div>
</div>
<div style="display: table-row;">
    <div style="display: table-cell;">
        <span style="font-family:FreeSans; font-size:xx-large">font-family:FreeSans; font-size:xx-large</span>
    </div>
</div>
