
@{
    ViewData["Title"] = "Session Expired";
}
<!-- BODY CONTENT -->
<div id="topicTemplate" style="padding-top:0px" class="template container">


    <br />
    <br />
    <!-- PAGE CONTENT -->
    <div id="main-content" class="contentPageMainColumn col-xs-12">

        <h2>Your Session Has Expired</h2>

        Please click <a href="@Url.Action("Index", "Home")">here</a> to go to Start.

    </div>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->
@section Scripts {}
