.field-validation-error {
    color:red;
    clear:both;
    display:block;
}
.modal.modal-wide .modal-dialog {
    width: 70%;
}
.modal-medium {
    width: 55%;
}
.Table {
    display: table;
    width: 100%
}
.TableBody {
    display: table-row-group;
}
.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 25px;
    padding-right: 25px;
}

.Cell2 {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.Cell3 {
    display: table-cell;
    border: none;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
}
.TableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.TableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.TableBody {
    display: table-row-group;
    width: 100%;
}
.modal-large {
    width: 950px;
}
.rnd-table {
    border: solid 1px #e8e8e8;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .rnd-table thead th {
        background-color: #e8e8e8;
        border: solid 1px #e8e8e8;
        color: #000000;
        padding: 10px;
        text-align: left;
    }

    .rnd-table tbody td {
        border: solid 1px #e8e8e8;
        color: #333;
        padding: 10px;
    }

.rnd-table-rounded {
    border: none;
}

    .rnd-table-rounded thead th {
        border: none;
        background-color: #e8e8e8;
        color: #000;
        font-size: x-large;
    }

        .rnd-table-rounded thead th:first-child {
            border-radius: 10px 0 0 0;
        }

        .rnd-table-rounded thead th:last-child {
            border-radius: 0 10px 0 0;
        }

    .rnd-table-rounded tbody td {
        border: none;
        background-color:#e8e8e8;
    }

    .rnd-table-rounded tbody tr:last-child td:first-child {
        border-radius: 0 0 10px 10px;
    }

    .rnd-table-rounded tbody tr:last-child td:last-child {
        border-radius: 0 0 10px 10px;
    }
.waiting {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/waiting.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .waiting {
        display: block;
    }
.browserWarning {
    color: red;
    background-color: yellow;
    font-size:large;
}