.field-validation-error {
    color:red;
    clear:both;
    display:block;
}
tr:nth-child(even) {
    background-color: #d9edf7;
}
.modal.modal-wide .modal-dialog {
    width: 70%;
}
.Table {
    display: table;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 25px;
    padding-right: 25px;
}

.Cell2 {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
