@model FieldListViewModel
<div style="width:100%">
    @if (Model.fields.Count > 0)
    {
        <ul style="list-style-type: none; padding-left: 0; overflow: hidden; -ms-text-overflow: ellipses; -o-text-overflow: ellipses; text-overflow: ellipsis;">
            @foreach (var f in Model.fields)
            {
                @*<li style="display:block; float:left; clear:both; width:100%; padding-bottom:3px;"><a href="@Url.Action(Model.actn,Model.cntl, new { nme = f.fieldName })" class="btn btn-default" style="width:100%; text-align:left">@f.fieldName</a></li>*@
                <li style="display:block; float:left; clear:both; width:100%; padding-bottom:3px;">
                    <a href="@Url.Action(Model.actn,Model.cntl, new { nme = f.FieldName })" class="btn " style="width:100%; text-align:left; color:black;">
                        @if (f.crops == null)
                        {@Html.Raw("<span>*</span>");
                    }@f.FieldName
                </a>
            </li>
        }
        </ul>
        @if (Model.noCrops)
        {
            <p>*No crop yet</p>
        }
    }
    <br />
</div>