@model CalcNutrientsViewModel
<div>
    @if (Model.cropList.Count > 0)
    {
        <div class="form-box">
            <!-- manure grouping -->
            <div class="panel panel-primary" style="margin-top:0px;">

                <div class="panel-heading btn-primary">
                    <!-- panel-heading -->
                    <a data-toggle="collapse" href="#accordionCalculation" style="color:white">
                        <h4 class="panel-title">
                            <!-- title 1 -->
                            Nutrient Calculation
                        </h4>
                    </a>
                </div>
                <!-- panel body -->
                <div id="accordionCalculation" class="panel-collapse collapse in">
                    <div class="panel-body" style="padding:0px">
                        <div style="display:inline-block; padding-top:10px">
                            <div class="Table" style="width:100%; padding:5px 5px 5px 5px; background-color:grey">
                                <div style="display:table-row; width:100%; color:black; vertical-align:middle">
                                    <b>Are crop requirements met or exceeded</b>
                                </div>
                            </div>
                            <div class="Table">
                                 <div style="display:table-row">
                                    <div class="Cell2" style="vertical-align:bottom; text-align:left; width:200px">
                                        <p style="clear:both"></p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">N</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div class="Cell2" style="vertical-align:bottom; text-align:left; width:200px">
                                        <p style="clear:both">Crop Requirements</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">999</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">999</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">999</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:inline-block; padding-left:10px; padding-top:10px">
                            <div class="Table" style="width:100%; padding:5px 5px 5px 5px; background-color:grey">
                                <div style="display:table-row; width:100%; color:black; vertical-align:middle">
                                    <b>Will soil nutrients increase or decrease</b>
                                </div>
                            </div>
                            <div class="Table" style="width:100%">
                                <div style="display:table-row">
                                    <div class="Cell2" style="vertical-align:bottom; text-align:left; width:200px">
                                        <p style="clear:both"></p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div class="Cell2" style="vertical-align:bottom; text-align:left; width:200px">
                                        <p style="clear:both">Crop Requirements</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">999</p>
                                    </div>
                                    <div class="Cell2">
                                        <p style="width:30px">999</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
