@model SERVERAPI.ViewModels.ManureStorageViewModel

<div>
    <div class="form-box">
        <div class="form-box-header clearfix">
            <legend class="form-box-heading">Manure Nutrient Analysis</legend>
        </div>
        <div class="form-box-body">
           
        </div>
    </div>

</div>