@using Agri.Models


@{
    ViewBag.Title = "Manure/Compost Imported";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->

        <form asp-controller="ManureManagement" asp-action="ManureNutrientAnalysis" method="post">
            <div id="manureimported">
                @await Component.InvokeAsync("ManureImported")
            </div>
            <div id="next-previous-navigation">
                @await Component.InvokeAsync("NextPreviousNavigation", new { currentAction = CoreSiteActions.ManureImported })
            </div>
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->



@section Scripts {


    <script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
        $(document).on("click", '[data_modal]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-carousel");
            $("#divSize").addClass("modal-large");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            $(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            RefreshNavigation("ManureManagement", "ManureImported");
                            RefreshNextPreviousNavigation("ManureManagement", "ManureImported");
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }
        
        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-large");
            $("#divSize").addClass("modal-carousel");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $("#divSize").removeClass("modal-carousel");
                            $('#myModal').modal('hide');
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }


        $(document).ready(function () {
            $("body").on("change", "#txtMaterialName", function () {
                $('#ButtonPressed').val("MaterialNameChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlManureMaterialType", function () {
                $('#ButtonPressed').val("ManureMaterialTypeChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlSelectedMaterialsToInclude", function () {
                $('#ButtonPressed').val("SelectedMaterialsToIncludeChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#rbIsMaterialStoredYes", function () {
                $('#ButtonPressed').val("IsMaterialStoredChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("click", "#rstMoisture", function () {
                $('#ButtonPressed').val("ResetMoisture");
                $("#modForm").submit();
            })
        });

        function NeedRefresh() {
            $("#ok_button").html('Save');
            $("#ok_button").css('background-color', '#1abbed');
            $("#btnText").val("Save");
        }

    </script>
}