@model SERVERAPI.ViewModels.ManureDetailViewModel

@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Manure/Compost Details - @Model.act</h4>
    </div>

    <form asp-action="ManureDetail" asp-controller="Fields" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="materialName"></label>
                <div>
                    <select class="form-control" asp-for="selManOption" asp-items="@(new SelectList(Model.manOptions,"Id","Value"))" id="ddlMan">
                        <option>select</option>
                    </select>
                    <span asp-validation-for="materialName"></span>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-group">
                <div class="form-group col-sm-2">
                    <label asp-for="manureName"></label>
                    <div class="input-group">
                        <input class="form-control" asp-for="manureName" id="manureName" type="text" />
                    </div>
                    <span asp-validation-for="manureName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="moisture"></label>
                    <div class="input-group">
                        <input class="form-control col-sm-1" asp-for="moisture" id="avail" type="text" />
                    </div>
                    <span asp-validation-for="moisture" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="nitrogen"></label>
                    <div class="input-group">
                        <input class="form-control col-sm-1" asp-for="nitrogen" id="avail" type="text" />
                    </div>
                    <span asp-validation-for="nitrogen" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="ammonia"></label>
                    <div class="input-group">
                        <input class="form-control col-sm-1" asp-for="ammonia" id="avail" type="text" />
                    </div>
                    <span asp-validation-for="ammonia" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="phosphorous"></label>
                    <div class="input-group">
                        <input class="form-control col-sm-1" asp-for="phosphorous" id="avail" type="text" />
                    </div>
                    <span asp-validation-for="phosphorous" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="phosphorous"></label>
                    <div class="input-group">
                        <input class="form-control col-sm-1" asp-for="phosphorous" id="avail" type="text" />
                    </div>
                    <span asp-validation-for="phosphorous" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
        @Html.HiddenFor(x => x.act)
    </form>
</div>
