@model SERVERAPI.ViewModels.FarmIncompleteViewModel

@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Required - Select a Region</h2>
    </div>

    <form asp-action="FarmIncomplete" asp-controller="Farm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#Target" id="warnForm">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p class="text-danger"><img src="~/images/dollar warning.svg" height='20' width='20' /> @Model.Message</p>
            </div>
            <br />
            <br />
        </div>
        <div class="modal-footer">
            <button id="canBtn" class="btn" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="button" value="Continue" onclick="window.location.href = '@Model.Target'" />
        </div>
        @Html.HiddenFor(x => x.Target)
    </form>
</div>
