<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="" />
    <meta name="author" content="Ministry of Environment" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">


    <title>@ViewBag.Title</title>

    <!-- BOOTSTRAP CORE CSS v3.3.6 -->

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/ie10-viewport-bug-workaround.css" />

    <!-- STANDARD CSS -->
    <link type="text/css" href="~/lib/bootstrap/css/main.css?refresh=160106102" rel="stylesheet" />

    <!-- FONTS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- CUSTOM ENV CSS -->
    <link href="~/lib/bootstrap/css/custom-main.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/custom-form.css" rel="stylesheet" />

    <!-- SITE CSS -->
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/misc.js"></script>
    <script src="~/lib/bootstrap/js/navMenu.js"></script>
    <script src="~/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/lib/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>
    <!-- DatePicker CSS -->
    <link href="~/lib/bootstrap/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110010219-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-110010219-1');
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: true)
</body>
</html>
