<head>
    <title>Report</title>
    <style>

        body {
            width: 170mm;
            height: 297mm;
            padding-top: 20px;
            font-size: 6pt;
            font-family: 'DejaVu Sans', sans-serif;
        }

        td {
            font-size: 6pt;
        }

        .CellHdg {
            font-size: 6pt;
            background-color: #a4cdd8;
            border: 1px solid black;
            padding: 4px;
            font-weight: bold;
            font-family: 'DejaVu Sans', sans-serif;
        }

        .CellHdgNBd {
            font-size: 6pt;
            padding: 4px;
            vertical-align: top;
            font-weight: bold;
            font-family: 'DejaVu Sans', sans-serif;
        }

        .CellDtl {
            font-size: 6pt;
            border: 1px solid black;
            padding: 2px;
            font-family: 'DejaVu Sans', sans-serif;
        }

        .CellDtlNBd {
            font-size: 6pt;
            padding: 2px;
            font-family: 'DejaVu Sans', sans-serif;
        }

        .img-good {
            content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KICA8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgogIDxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE4cHgiIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLCAwKSI+CiAgICAgIDxwYXRoIGZpbGw9IiM0NDlkNDQiIGQ9Ik0xMiwwQzUuNCwwLDAsNS40LDAsMTJzNS40LDEyLDEyLDEyczEyLTUuNCwxMi0xMlMxOC42LDAsMTIsMHogTTE4LjcsOC43bC04LDhDMTAuNSwxNi45LDEwLjMsMTcsMTAsMTcKCXMtMC41LTAuMS0wLjctMC4zbC00LTRjLTAuNC0wLjQtMC40LTEsMC0xLjRzMS0wLjQsMS40LDBsMy4zLDMuM2w3LjMtNy4zYzAuNC0wLjQsMS0wLjQsMS40LDBTMTkuMSw4LjMsMTguNyw4Ljd6Ij48L3BhdGg+CiAgICA8L2c+CiAgPC9zdmc+Cg==')
        }

        .img-stop-triangle {
            content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KICA8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgogIDxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE4cHgiIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLCAwKSI+CiAgICAgIDxwYXRoIGZpbGw9IiNmZjBmM2YiICBkPSJtIDIyLjg4NSwyMS41MzQgLTEwLC0xOSBjIC0wLjM0NiwtMC42NTcgLTEuNDI0LC0wLjY1NyAtMS43NywwIGwgLTEwLDE5IEMgMC45NTIsMjEuODQ0IDAuOTYzLDIyLjIxNyAxLjE0MywyMi41MTYgMS4zMjUsMjIuODE3IDEuNjQ5LDIzIDIsMjMgaCAyMCBjIDAuMzUxLDAgMC42NzUsLTAuMTgzIDAuODU2LC0wLjQ4MyAwLjE4MSwtMC4zIDAuMTkyLC0wLjY3MyAwLjAyOSwtMC45ODMgeiI+PC9wYXRoPgogICAgICA8L2c+CiAgPC9zdmc+')
        }

        .img-dollar-warning {
            content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiID8+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDIxIDIxIj4NCiAgICA8Zz4NCiAgICAgICAgPGVsbGlwc2Ugc3Ryb2tlPSIjZThiZjBiIiByeT0iOCIgcng9IjgiIGlkPSJzdmdfMiIgY3k9IjEwLjUiIGN4PSIxMC41IiBzdHJva2Utd2lkdGg9IjUiIGZpbGw9IiNlOGJmMGIiIC8+DQogICAgICAgIDx0ZXh0IHN0cm9rZT0iIzAwMDAwMCIgdHJhbnNmb3JtPSJtYXRyaXgoMS4wNjM1Mjg5MDI1MTk2MzU3LDAsMCwwLjc2NzUzOTI2MjM3MTU5NTEsLTczLjM0NTcwNTI4OTA4NzMzLC03MS43NTg0MDE4NzE3NzQ4OCkgIiBmb250LXdlaWdodD0ibm9ybWFsIiB4bWw6c3BhY2U9InByZXNlcnZlIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIiBmb250LWZhbWlseT0iU2Fucy1zZXJpZiIgZm9udC1zaXplPSIyNCIgaWQ9InN2Z180IiB5PSIxMTUuNTA2NDE2IiB4PSI3OS4wMjIwMSIgc3Ryb2tlLXdpZHRoPSIwIiBmaWxsPSIjN2Y3ZjdmIj4hPC90ZXh0Pg0KICAgIDwvZz4NCjwvc3ZnPg==')
        }

        .page-header {
            position: fixed;
            top: 0;
        }

        footer {
            position: fixed;
            bottom: 0;
        }
    </style>
</head>