@model SERVERAPI.Pages.RanchAnimals.CreateEdit

<form asp-page="CreateEdit" method="post" class="form-box-body" id="manureForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row row">
        <div class="col-sm-3" style="padding-left: 0; padding-right: 0;">
            <div class="form-group">
                <label for="txtMaterialName">Material Name</label>
                @*<input class="form-control" asp-for="" type="text" id="" />
                    <span asp-validation-for="" class="text-danger"></span>*@
            </div>
        </div>
    </div>
</form>