@using Microsoft.AspNetCore.Http;
@model SERVERAPI.ViewModels.FieldPageViewModel

@{
    ViewBag.Title = "Fields";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<div class="step-header">
    <div class="container">
        <div class="col-sm-10">
            <div class="col-sm-6">
                @*<span class="step-header-circle">2</span>*@
                <span class="step-header-name">Field List</span>
                &nbsp;
                <span class="step-header-steps">Step 2 of 6</span>
            </div>
            <div class="col-sm-4">
                <span class="step-header-name text-right">@Context.Session.GetString("Farm")</span>
            </div>
        </div>
        <div class="col-sm-2">                        
            <div class="col-sm-2">
                <input class="btn btn-primary" type="button" value="Download file" title="Download data to your local drive" onclick="location.href='@Url.Action("Download", "Home")'" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Farm" asp-action="Farm" method="post">
            <div id="fields">
                @await Component.InvokeAsync("Fields")
            </div>
            <div class="form-box-submit">
                <input class="form-box-submit-button btn btn-primary" style="float:left" type="button" value="Previous" onclick="window.location.href='@Url.Action("Farm", "Farm" )';" />
                <input class="form-box-submit-button btn btn-primary" type="button" value="Next" onclick="window.location.href='@Url.Action("SoilTest", "Soil")';" />
            </div>
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->
@section Scripts {


    <script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
        $(document).on("click", '[data_modal]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            $(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).ready(function () {
            $("#wizard-field").addClass('wizard-item-done');
        });
    </script>
}