@model SERVERAPI.ViewModels.FarmViewModel

@{
    ViewBag.Title = "Farm";
}
<!-- modal placeholder-->
<div id='modal-container' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <div class="row">
        <div id="main-content" class="contentPageMainColumn col-xs-12">
            <h3>Farm Information</h3>
            <form asp-controller="Home" asp-action="Farm" method="post">
                <div>
                    <label asp-for="farmName"></label>
                </div>
                <div>
                    <input asp-for="farmName" />
                    <span asp-validation-for="farmName"></span>
                </div>
                <br />
                <br />
                <div>
                    <label asp-for="soilTests"></label>
                </div>
                <div>
                    <input asp-for="soilTests" type="radio" value="true" /> Yes
                    <input asp-for="soilTests" type="radio" value="false" /> No
                    <span asp-validation-for="soilTests"></span>
                </div>
                <br />
                <br />
                <div>
                    <label asp-for="manure"></label>
                </div>
                <div>
                    <input asp-for="manure" type="radio" value="true" /> Yes
                    <input asp-for="manure" type="radio" value="false" /> No
                    <span asp-validation-for="manure"></span>
                </div>
                <br />
                <br />
                <div>
                    <input type="submit" value="Save" />
                </div>
                <br />
                <br />
                <div>
                    @*@Html.NoEncodeActionLink("Add Instrument", "", "SetAssemblyInstrument", "Staff", routeValues: new { id = Model.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })*@
                </div>
                @Html.HiddenFor(x => x.userData)
            </form>



        </div>
    </div>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->
@section Scripts {


<script type="text/javascript">
    // boostrap 4 load modal example from docs
    $('#modal-container').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.attr("href");
        var modal = $(this);

        // note that this will replace the content of modal-content ever time the modal is opened
        modal.find('.modal-content').load(url);
    });


    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-toggle]").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#modal-container').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#modal-container').modal('hide');
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }

    $(document).ready(function () {
        localStorage.setItem("nmp", $('#userData').val());
    });
</script>
}