@model SERVERAPI.ViewModels.FarmViewModel

@{
    ViewBag.Title = "Farm";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <div class="row">
        <div id="main-content" class="contentPageMainColumn col-xs-12">
            <h3>Farm Information</h3>
            <form asp-controller="Home" asp-action="Farm" method="post">
                <div>
                    <label asp-for="year"></label>
                </div>
                <div>
                    <input asp-for="year" />
                    <span asp-validation-for="year"></span>
                </div>
                <br />
                <div>
                    <label asp-for="farmName"></label>
                </div>
                <div>
                    <input asp-for="farmName" />
                    <span asp-validation-for="farmName"></span>
                </div>
                <br />
                <div>
                    <label asp-for="selRegOption"></label>
                </div>
                <div>
                    <select asp-for="selRegOption" asp-items="@(new SelectList(Model.regOptions,"Id","Value"))">
                        <option>select region</option>
                    </select>
                    <span asp-validation-for="farmName"></span>
                </div>
                <br />

                <div>
                    <label asp-for="soilTests"></label>
                </div>
                <div>
                    <input asp-for="soilTests" type="radio" value="true" /> Yes
                    <input asp-for="soilTests" type="radio" value="false" /> No
                    <span asp-validation-for="soilTests"></span>
                </div>
                <br />
                <div>
                    <label asp-for="manure"></label>
                </div>
                <div>
                    <input asp-for="manure" type="radio" value="true" /> Yes
                    <input asp-for="manure" type="radio" value="false" /> No
                    <span asp-validation-for="manure"></span>
                </div>
                <br />
                <div>
                    <input type="submit" value="Save" />
                </div>
                <br />
                @Html.HiddenFor(x => x.userData)
                @Html.HiddenFor(x => x.currYear)
            </form>
            @if (Model.currYear != null)
            {
                <a asp-action="FieldDetail" asp-controller="Home" asp-route-name="" data_modal="">Add Field</a>
            }
            <br />
            <br />
            <div id="replacetarget">
                @await Component.InvokeAsync("Fields")
            </div>

        </div>
    </div>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->
@section Scripts {


<script type="text/javascript">

    // ensure this event handler is attached to current and future elements (after partial renders)
    $(document).on("click", 'a[data_modal=""]', function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        var ls;
                        ls = localStorage;
                        ls.setItem("nmp", result.farmdata);
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }


    $(document).ready(function () {
        localStorage.setItem("nmp", $('#userData').val());
        $.ajaxSetup({ cache: false });
    });

    $(document).ready(function () {
        var sendNMP = $('#sendNMP').val();
        if (sendNMP == "False") {
            localStorage.setItem("nmp", $('#userData').val());
        }
        else {
            var data = localStorage.getItem("nmp");
            $('#userData').val(data);
        }
    });

</script>
    <script type="text/javascript">

        //function Sub(a) {
        //    var data = localStorage.getItem("nmp");
        //    $('#userDataField').val(data);
        //    a.submit;
        //}

        //$("#savebtn").on("click", function (e) {
        //    var data = localStorage.getItem("nmp");
        //    $('#userData').val(data);
        //});

        //function SaveData() {
        //    var data = localStorage.getItem("nmp");
        //    $('#userDataField').val(data);
        //    $("#submitter").submit();
        //}

    </script>
}