@{
    ViewBag.Title = "Farm";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <div class="row">
        <div id="main-content" class="contentPageMainColumn col-xs-12">
            <h3>Farm Information</h3>
        </div>
    </div>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->
