@{
    ViewBag.Title = "Welcome";
}

    <!-- BODY CONTENT -->
    <div id="topicTemplate" class="template container gov-container">
        <!-- PAGE CONTENT -->
        <div class="row">
            <div id="main-content" class="contentPageMainColumn col-xs-12">
                <h3>Welcome to the Nutrient Management Program</h3>
                @Html.ActionLink("Report", "Report", new {controller="Home"}, new {target="_blank"})
                <br />
                <br />
                <input type="button" value="Begin" onclick="location.href='@Url.Action("Farm", "Home")'" />
            </div>
        </div>
        <!-- PAGE CONTENT -->
    </div>
    <!-- /BODY CONTENT -->
