@model  SERVERAPI.ViewModels.LaunchViewModel
@{
    ViewBag.Title = "Welcome";
    Layout = "_LayoutNoNav";
}
@inject IJsonHelper Json;

<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <form asp-controller="Home" method="post">
        <div class="row">
            <div id="main-content" class="contentPageMainColumn col-xs-12">
                <h3>Welcome to the Nutrient Management Program</h3>
                <br />
                <br />
                <input class="btn btn-info"  type="submit" value="New" name="type" />
                @*@if (Model.canContinue == true)
                {
                    <input type="submit" value="Continue" name="type" />
                }*@
                <br />
                <br />
                <button class="btn btn-info" data_modal="" type="button" data-type="@Url.Action("FileLoad", "Home")">Load</button>
            </div>
        </div>
        @Html.HiddenFor(x => x.userData)
        @Html.HiddenFor(x => x.canContinue)
    </form>

    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->

@section Scripts {

<script type="text/JavaScript">

    $(document).ready(function () {
        var canContinue = $('#canContinue').val();
        if (canContinue == "False")
        {
            localStorage.setItem("nmp", $('#userData').val());
        }
        else
        {
            var data = localStorage.getItem("nmp");
            $('#userData').val(data);
        }
    });
</script>
<script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
    $(document).on("click", '[data_modal]', function (e) {
        $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
         });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object  
                var fileData = new FormData();

                // Looping over all files and add it to FormData object  
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }  
                $.ajax({
                    url: this.action,
                    type: this.method,
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            var ls;
                            ls = localStorage;
                            ls.setItem("nmp", result.farmdata);
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).ready(function () {
            localStorage.setItem("nmp", $('#userData').val());
            $.ajaxSetup({ cache: false });
        });

</script>

}
