@model  SERVERAPI.ViewModels.LaunchViewModel
@{
    ViewBag.Title = "Welcome";
}
@inject IJsonHelper Json;

<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <form asp-controller="Home" method="post">
        <div class="row">
            <div id="main-content" class="contentPageMainColumn col-xs-12">
                <h3>Welcome to the Nutrient Management Program</h3>
                @Html.ActionLink("Report", "Print", new { controller = "Home" }, new { target = "_blank" })
                <br />
                <br />
                <input type="submit" value="New" name="type" />
                @if (Model.canContinue == true)
                {
                    <input type="submit" value="Continue" name="type" />
                }
                <h4>Path</h4>
                @Model.path
            </div>
        </div>
        @Html.HiddenFor(x => x.userData)
        @Html.HiddenFor(x => x.canContinue)
    </form>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->

@section Scripts {

<script type="text/JavaScript">
    $(document).ready(function () {
        var canContinue = $('#canContinue').val();
        if (canContinue == "False")
        {
            localStorage.setItem("nmp", $('#userData').val());
        }
        else
        {
            var data = localStorage.getItem("nmp");
            $('#userData').val(data);
        }
    });
</script>
<script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
        $(document).on("click", 'a[data_modal=""]', function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            var ls;
                            ls = localStorage;
                            ls.setItem("nmp", result.farmdata);
                            $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }


        $(document).ready(function () {
            localStorage.setItem("nmp", $('#userData').val());
            $.ajaxSetup({ cache: false });
            SetModal();
        });

        $(document).ready(function () {
            var sendNMP = $('#sendNMP').val();
            if (sendNMP == "False") {
                localStorage.setItem("nmp", $('#userData').val());
            }
            else {
                var data = localStorage.getItem("nmp");
                $('#userData').val(data);
            }
        });

</script>

}
