@model SERVERAPI.ViewModels.Tester

@* Here is the content for the modal*@
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Form Modal</h4>
    </div>
    <form asp-action="PostModal" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-body">
            <div class="form-horizontal">
                Hello World!
                I am a Form!
                @ViewBag.Id
                @Model.news
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        </div>
    </form>
</div>