
@{
    ViewBag.Title = "Print";
}

<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <div class="row">
        <div id="main-content" class="contentPageMainColumn col-xs-12">
            <h3>Print Information</h3>
                <div>
                    <label>Service</label>
                </div>
                <div>
                    <label>@ViewBag.Service</label>
                </div>
                <br />
                <br />
                <div>
                    <label>Result</label>
                </div>
                <div>
                    <label>@ViewBag.StatusCode</label>
                </div>
                <br />
                <br />
        </div>
    </div>
    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->