@model  SERVERAPI.ViewModels.ValidateStaticDataViewModel
@{
    ViewBag.Title = "Validate Static Data";
    Layout = "_LayoutNoNav";
}
@inject IJsonHelper Json;
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<!-- BODY CONTENT -->
<div id="topicTemplate" class="template container gov-container">
    <!-- PAGE CONTENT -->
    <form asp-controller="Home" method="post">
        <div class="row">
            <div id="main-content" class="contentPageMainColumn col-xs-12">
                <p>
                    <label id="staticDataErrors">
                        @Html.Raw(Model.staticDataErrors)
                    </label>
                </p>
            </div>
        </div>
    </form>

    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->

@section Scripts {

    <script type="text/javascript">


    </script>

}
