@model SERVERAPI.ViewModels.LeafTestDeleteViewModel

@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Leaf Test Details - Erase</h2>
    </div>

    <form asp-action="LeafTestErase" asp-controller="Soil" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fieldName"></label>
                <div>
                    @Model.fieldName<br />
                    <span asp-validation-for="fieldName"></span>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Erase" />
        </div>
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.id)
    </form>
</div>
