@model SERVERAPI.ViewModels.FileLoadViewModel

@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">File Load</h2>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileLoad">
        <div class="modal-body">
            @if (Model.unsavedData)
            {
                <div class="row">
                    <p class="text-danger">@Model.warningMsg</p>
                </div>
            }
            else
            {
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <br />
                            <p>Please select a file (.nmp):</p>
                            <br />
                            <input class="form-control-file" type="file" name="files" id="FileUpload1" accept=".nmp" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button id="canBtn" class="btn" type="button" data-dismiss="modal">Cancel</button>
            @if (Model.unsavedData)
            {
                <input id="download" class="btn btn-primary" type="button" value="Download file" onclick="location.href='@Url.Action("Download", "Home")';this.style.display = 'none';document.getElementById('canBtn').style.display = 'none';" />
                <input class="btn btn-primary" type="submit" value="Continue" />
            }
            else
            {
                <input class="btn btn-primary" type="submit" value="Upload" />
            }
        </div>
        @Html.HiddenFor(x => x.unsavedData)
        @Html.HiddenFor(x => x.warningMsg)
    </form>
</div>
