@model CalcHeadingViewModel

@if (Model.headingReqd)
{
    <div class="Row">
        <div class="Cell2">&nbsp;</div>
        <div class="Cell2" style="text-align:center">
            <b>Agronomic (lb/ac)</b>
            <a href="#" data_modal3="" data-type="@Url.Action("InfoMessage", "Nutrients", new { type = "agri" })"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Agronomic" style="font-size:20px; padding-top:5px"></span></a>
        </div>
        <div class="Cell2" style="text-align:center">
            <b>Crop Removal (lb/ac)</b>
            <a href="#" data_modal3="" data-type="@Url.Action("InfoMessage", "Nutrients", new { type = "crop" })"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Agronomic" style="font-size:20px; padding-top:5px"></span></a>
        </div>
        <div class="Cell2">&nbsp;</div>
    </div>
    <div class="Row">
        <div class="Cell2">&nbsp;</div>
        <div class="Cell2">
            <div class="Table">
                <div class="TableBody">
                    <div class="Row">
                        <div class="Cell2" style="width:30%; text-align:center">N</div>
                        <div class="Cell2" style="width:30%; text-align:center">P2O5</div>
                        <div class="Cell2" style="width:30%; text-align:center">K2O</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Cell2">
            <div class="Table">
                <div class="TableBody">
                    <div class="Row">
                        <div class="Cell2" style="width:30%; text-align:center">N</div>
                        <div class="Cell2" style="width:30%; text-align:center">P2O5</div>
                        <div class="Cell2" style="width:30%; text-align:center">K2O</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Cell2">&nbsp;</div>
        <div class="Cell2">&nbsp;</div>
    </div>
}
