.field-validation-error {
    color: red;
    clear: both;
    display: block;
}

.modal.modal-wide .modal-dialog {
    width: 70%;
}

.modal-medium {
    width: 55%;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.Table {
    display: table;
    width: 100%
}

.TableBody {
    display: table-row-group;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 25px;
    padding-right: 25px;
}

.Cell2 {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.Cell3 {
    display: table-cell;
    border: none;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
}

.TableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.TableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.TableBody {
    display: table-row-group;
    width: 100%;
}

.modal-large {
    width: 950px;
}

.modal-carousel {
    width: 50%;
}

.rnd-table {
    border: solid 1px #e8e8e8;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .rnd-table thead th {
        background-color: #e8e8e8;
        border: solid 1px #e8e8e8;
        color: #000000;
        padding: 10px;
        text-align: left;
    }

    .rnd-table tbody td {
        border: solid 1px #e8e8e8;
        color: #333;
        padding: 10px;
    }

.rnd-table-rounded {
    border: none;
}

    .rnd-table-rounded thead th {
        border: none;
        background-color: #e8e8e8;
        color: #000;
        font-size: x-large;
    }

        .rnd-table-rounded thead th:first-child {
            border-radius: 10px 0 0 0;
        }

        .rnd-table-rounded thead th:last-child {
            border-radius: 0 10px 0 0;
        }

    .rnd-table-rounded tbody td {
        border: none;
        background-color: #e8e8e8;
    }

    .rnd-table-rounded tbody tr:last-child td:first-child {
        border-radius: 0 0 10px 10px;
    }

    .rnd-table-rounded tbody tr:last-child td:last-child {
        border-radius: 0 0 10px 10px;
    }

.waiting {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/waiting.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .waiting {
        display: block;
    }

.browserWarning {
    color: red;
    background-color: yellow;
    font-size: large;
}

.loading {
    position: absolute !important;
    background: white url('../images/ajax-loader.gif') no-repeat center center !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background: rgba(255,255,255,0.8) url('../images/ajax-loader.gif') no-repeat center center;
}

.hideElement {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -52px;
}

    .content:after {
        content: "";
        display: block;
    }

.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    border-color: #fcba19;
    border-top: 2px solid #fcba19;
    width: 100%;
}

.footer, .content:after {
    height: 52px;
}

.form-group-right-side-label {
    display: flex
}

    .form-group-right-side-label .right-side-label-span {
        padding-left: 5px;
        padding-top: 15px
    }

.navbar-default {
    background-color: #38598a;
    border-color: #2e4a72;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
        color: #fff;
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
            background-color: transparent;
            text-decoration: underline;
        }

.field-validation-valid {
    display: none;
}

/*Listbox Styles*/
.agri-listbox ul {
    height: 100px;
    overflow: auto;
    width: 200px;
    list-style-type: none;
    margin-top: 5px;
    overflow-x: hidden;
}

.agri-listbox li {
    margin: 0;
}

    .agri-listbox li:hover div {
        background-color: Highlight;
        color: HighlightText;
    }

.agri-listbox label {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: top;
}

    .agri-listbox label:hover {
        background-color: Highlight;
        color: HighlightText;
    }

.agri-listbox-container-div {
    width: 100%;
    max-height: 50px;
}

.agri-listbox-checkbox-div {
    margin: 0;
    padding: 0;
    width: 25px;
    max-height: 50px;
}

.agri-listbox-text-div {
    position: absolute;
    right: 0;
    /*top: 0;*/
    /*z-index: -1;*/
}

/* Tree Lines */
.tree, .tree ul, .tree li {
    position: relative;
}

    .tree ul {
        list-style: none;
    }

@media (min-width: 986px) {
    .tree ul {
        padding-left: 32px;
    }

    .tree li::before, .tree li::after {
        content: "";
        position: absolute;
        left: -15px;
    }

    .tree li::before {
        border-top: 1px solid #CCCCCC;
        top: 9px;
        width: 65px;
        height: 0;
    }

    .tree li::after {
        border-left: 1px solid #CCCCCC;
        height: 100%;
        width: 0px;
        top: 2px;
    }

    .tree ul > li:last-child::after {
        height: 8px;
    }
}

/* Tooltip */
.tooltip-inner {
    background: #ffffff;
    color: #000000;
    border: #23527C 1px solid;
    min-width: 300px;
    max-width: 300px;
    padding: 3px 8px;
    text-align: left;
    border-radius: 2px;
}

.tooltip.top {
    padding: 10px 0;
    margin-top: -10px;
}

.tooltip.bottom {
    padding: -10px 0;
    margin-bottom: 0px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #23527C;
}

.tooltip.bottom .tooltip-arrow {
    top: -5px;
    left: 50%;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #23527C;
}

.tooltip .title {
    background: #23527C;
    color: #ffffff;
    max-width: 300px;
    padding: 3px 8px;
    text-align: left;
    border-radius: 2px;
}

    .tooltip .title .close {
        color: #ffffff;
        float: right;
    }

.readonly-form {
    color: #808080
}


/* Number fields - remove spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

/*Chevron Navigation Style*/
.top-level-nav {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 70px;
    list-style: none !important;
    overflow: hidden !important;
    font: 18px Sans-Serif !important;
    background: #c1daea;
    margin-bottom: 0px;
}

    .top-level-nav li {
        float: left !important;
    }

        .top-level-nav li a {
            color: black;
            text-decoration: none;
            padding: 10px;
            padding-left: 30px;
            background: #c1daea;
            position: relative;
            display: block;
            float: left;
        }

            .top-level-nav li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #c1daea;
                position: absolute;
                top: 122%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

    .top-level-nav .continue-link a {
        padding-left: 70px;
    }

#current {
    background: #a0c7de;
}

    #current:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #a0c7de;
        position: absolute;
        top: 122%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }

.second-level-nav {
    list-style: none !important;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden !important;
    font: 14px Sans-Serif !important;
    margin-bottom: 0px;
    background: #f2f2f2;
}

    .second-level-nav li {
        float: left;
    }

        .second-level-nav li a {
            color: black;
            text-decoration: none;
            padding: 10px;
            padding-left: 30px;
            background: #f2f2f2;
            position: relative;
            display: block;
            float: left;
        }

            .second-level-nav li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 18px solid #f2f2f2;
                position: absolute;
                top: 100%;
                margin-top: -35px;
                left: 100%;
                z-index: 2;
            }

#current2 {
    background: #DAE8EF;
}

    #current2:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #DAE8EF;
        position: absolute;
        top: 122%;
        margin-top: -45px;
        left: 100%;
        z-index: 2;
    }

/*Mobile*/
@media (max-width: 767px) {
    .device-message {
        display: inline;
        color: red;
        background-color: yellow;
        font-size: large;
        width: 100%
    }
}

@media (min-width: 768px) {
    .device-message {
        display: none;
    }
}

/* fix file input button */
input[type="file"] {
    display: none;
}
