<div>
    <div class="form-box">
        <div class="form-box-header clearfix">
            <legend class="form-box-heading">Manure Generated/Obtained</legend>
        </div>
        <div class="form-box-body">

            @*<div class="form-box-table">
                <div class="form-box-table-row form-box-table-header row row-eq-height">
                    <div class="col-sm-3 form-box-table-cell">
                        <strong>Animal Type</strong>
                    </div>
                    <div class="col-sm-2 form-box-table-cell">
                        <strong>Sub Type</strong>
                    </div>
                    <div class="col-sm-5 form-box-table-cell">
                        <strong>Comments (optional)</strong>
                    </div>
                    <div class="col-sm-2 form-box-table-cell">
                    </div>
                </div>
            </div>*@
            <div class="form-box-table-first text-center">
                <button class="btn btn-default" type="button" data_modal="" data-type="@Url.Action("ManureGeneratedObtainedDetail", "ManureManagement", new {target = "#manuregeneratedobtained"})">Add Animal</button>
            </div>
            <div class="form-box-submit">
                <input class="form-box-submit-button btn btn-primary" type="button" value="Next" title="Next" aria-label="Next" />
            </div>
        </div>
    </div>

</div>