@model NextPreviousNavigationViewModel

<div class="form-box-submit">
    @if (Model.UseJSInterceptMethod)
    {
        <input class="form-box-submit-button btn btn-primary" style="float:left" type="button" value="Previous" onclick="Intercept('@Url.Action(Model.ViewPreviousAction, Model.ViewPreviousController)');" title="Previous" aria-label="Previous" />
        <input class="form-box-submit-button btn btn-primary" style="float:right" type="button" value="Next" onclick="Intercept('@Url.Action(Model.ViewNextAction, Model.ViewNextController)');" title="Next" aria-label="Next" />
    }
    else
    {
        <input class="form-box-submit-button btn btn-primary" style="float:left" type="button" value="Previous" onclick="window.location.href = '@Url.Action(Model.ViewPreviousAction, Model.ViewPreviousController)';" title="Previous" aria-label="Previous" />
        <input class="form-box-submit-button btn btn-primary" style="float:right" type="button" value="Next" onclick="window.location.href = '@Url.Action(Model.ViewNextAction, Model.ViewNextController)';" title="Next" aria-label="Next" />
    }
</div>